
experiment_rotate.py
experiment_scan.py
Prunning/bonus_vgg16.py
Prunning/experiment_basic.py
Prunning/experiment_bird.py
Prunning/experiment_cat.py
Prunning/experiment_dog.py
Prunning/experiment_downsample.py
Prunning/experiment_grayscale.py
Prunning/experiment_serre.py
Prunning/experiment_shuffle.py
Prunning/experiment_train.py
results/2022-05-13_config_args.json
results/2022-05-15_config_args.json
results/2022-05-15_dataset_test_fortytwo.json
results/2022-05-15_dataset_train_fortytwo.json
results/2022-05-15_dataset_val_fortytwo.json
UltraFastCat/bonus_vgg16.py
UltraFastCat/experiment_basic.py
UltraFastCat/experiment_downsample.py
UltraFastCat/experiment_flip.py
UltraFastCat/experiment_grayscale.py
UltraFastCat/experiment_rotate.py
UltraFastCat/experiment_serre.py
UltraFastCat/experiment_train.py
